.index-main {
    width: 100%;
    height: 80%;

    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    background-image: url("https://www.kleague.com/assets/images/about_bg_w.jpg");
}

.index-main__top {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 22.5%;
    background-image: url("https://www.kleague.com/assets/images/sub_top.jpg");
}

.index-main__top__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;

    width: 35%;
    height: 100%;
}

.index-main__top__title span {
    display: flex;
    text-align: left;
    font-weight: 600;
    margin-left: 15%;
    color: white;
    font-size: 2rem;
}


.index-main__top__title span:last-child {
    font-weight: 300;
    margin-top: 1.1%;
    font-size: 0.8rem;
}

.index-main__top__search form {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;

    justify-content: center;
    align-items: center;
}

.index-main__top__search {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    width: 41%;
    height: 100%;
    border-color: white;
}


.index-main__top__search input {
    width: 400px;
    height: 50px;

    border-radius: 30px;
    border-color: white;
    border: solid;
    padding: 0% 6%;
}

.index-main__column {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
    margin-top: 2.5%;
    background-image: url("https://www.kleague.com/assets/images/about_bg_w.jpg");
}

.index-main__column__team {
    width: 32%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.index-main__column__table {
    margin-top: 5%;
    width: 80%;
    height: 73%;
    background-color: #e9eaed;

    padding: 2%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.index-main__column__goals {
    width: 36%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.index-main__column__pass {
    width: 32%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.index-main__column__title {
    width: auto;
    height: auto;
    font-weight: bold;
    font-size: 1.2em;
}

i {
    color: white;
}

.index-main__top__search button {
    background-color: #001F55;
    border: none;
}