.index-main__search {
    position: fixed;
    width: 100%;
    height: auto;

    top: 55%;
    left: 35%;
}

.index-main__search input {
    width: 400px;
    height: 60px;
    border: none;
}

#search-box {
    text-align: center;
}

#search-btn {
    width: 80px;
    height: 63px;

    background-color: #00397C;
    color: white;
}

input::placeholder {              /* Chrome, Safari, Firefox */
    color: #222;
    opacity: 1;
  }
  input:-ms-input-placeholder {     /* IE, Edge */
    color: #222;   
    opacity: 1;
  }
  /* old version */
  input:focus::-webkit-input-placeholder {
    color: transparent;
  }
  input:focus::-moz-placeholder {
    color: transparent;
  }
  input:focus:-ms-input-placeholder {
    color: transparent;
  }
  input:focus::-ms-input-placeholder {
    color: transparent;
  }


/*
.index-main__search form {
    background-image: url("https://www.kleague.com/assets/images/about_bg_w.jpg");

    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.index-main__column input {
    width: 20%;
    height: 7%;
    border-radius: 50px;
}

#search-box {
    border-radius: 40px 10px 10px 40px;
    margin-right: 0.05%;
    text-align: center;
}

#search-btn {
    width: 7%;
    height: 8%;

    border-radius: 10px 40px 40px 10px;
}

.index-main__column input:focus {

}

*:focus {
    outline: none;
}

*/