.index-main {
    width: 100%;
    height: 80%;

    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    background-image: url("https://www.kleague.com/assets/images/about_bg_w.jpg");
}

.index-main__top {
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    height: 22.5%;
    background-image: url("https://www.kleague.com/assets/images/sub_top.jpg");
}

.index-main__top__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;

    width: 35%;
    height: 100%;
}

.index-main__top__title span {
    display: flex;
    text-align: left;
    font-weight: 600;
    margin-left: 15%;
    color: white;
    font-size: 2rem;
}


.index-main__top__title span:last-child {
    font-weight: 300;
    margin-top: 1.1%;
    font-size: 0.8rem;
}

.index-main__column {
    width: 100%;
    height: 75%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("https://www.kleague.com/assets/images/about_bg_w.jpg");
}

/*
배경화면 video
*/

.index-main__column__bg {
    width: 100%;
    height: 700px;
    overflow: hidden;
    margin: 0px auto;
    position: relative;
  }
  video {
    width: 100%;
  }
  .index-main__column__text {
    position: absolute;
    width: 100%;
    top: 30%;
    left: 48%;
    transform: translate(-50%,-50%);
  }
  .index-main__column__text p {
    text-align: center;
    font-size: 48px;
    color: #ffffff;
  }
  
  
  /*------------------*/
  /* Layout (No Edit) */
  /*------------------*/
  @media(max-width:664px) {
    .index-main__column__bg {
      height: auto;
    }
    video {
      height: 400px;
    }
    .index-main__column__text p {
      font-size: 24px;
    }
  }

  /*------------------*/
  /* Layout (No Edit) */
  /*------------------*/