@import "../variables.css";

.index-header {
    width: 100%;
    height: 5%;

    margin-top: 4%;
    background-color: #001d49;
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-header__column {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.index-header__column span {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 1em;
    font-weight: bold;
    color: #f2f3f7;
}